@font-face {
  font-family: "Suisse Int'l";
  font-display: swap;
  src: url("../fonts/Suisse Int'l Medium.woff") format("woff"), url("../fonts/Suisse Int'l Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "terminator real nfi";
  font-display: swap;
  src: url("../fonts/terminator real nfi.woff") format("woff"), url("../fonts/terminator real nfi.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-top: 40px;
  margin-bottom: 137px;
  background-image: url("../img/earth-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-link {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 87px;
  background: -webkit-gradient(linear, left top, left bottom, from(#867863), to(#b9b2a6));
  background: -o-linear-gradient(top, #867863 0%, #b9b2a6 100%);
  background: linear-gradient(to bottom, #867863 0%, #b9b2a6 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  -webkit-transition: background-size .4s;
  -o-transition: background-size .4s;
  transition: background-size .4s;
  padding-bottom: 2px;
}

.header__nav-link:hover {
  background-size: 4px 50px;
}

.burger-open {
  fill: #fff;
  cursor: pointer;
  display: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.burger-open:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-open svg {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  display: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.mobile-menu.open {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.mobile-menu__link {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 66px;
  color: #FFFFFF;
}

.header__title {
  font-family: "terminator real nfi";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 260px;
  margin-bottom: 20px;
}

.header__text {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.earth {
  margin-bottom: 130px;
}

.earth__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.earth__text {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 470px;
}

.earth__content {
  position: relative;
}

.earth__massa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15%;
  left: 45%;
}

.earth__massa-circle {
  margin-right: 18px;
  max-width: 150px;
}

.earth__massa-circle svg {
  width: 100%;
  fill: none;
}

.massa-text__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.massa-text__number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.earth__diametr {
  position: absolute;
  top: 35%;
  left: 10%;
}

.earth__diametr-title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 6px;
  position: relative;
}

.earth__diametr-title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  background-color: #bebebe;
  bottom: -3px;
}

.earth__diametr-number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.earth__age {
  position: absolute;
  top: 40%;
  right: 10%;
}

.earth__age-title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 6px;
  position: relative;
}

.earth__age-title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  background-color: #bebebe;
  bottom: -3px;
}

.earth__age-number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.earth__gravity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 60%;
  left: 5%;
}

.earth__gravity-circle {
  max-width: 120px;
  margin-right: 18px;
}

.earth__gravity-circle svg {
  width: 100%;
  fill: none;
}

.earth__gravity-title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.earth__gravity-number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.earth__duration {
  position: absolute;
  top: 77%;
  right: 20%;
}

.earth__duration-title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 6px;
  position: relative;
}

.earth__duration-title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  background-color: #bebebe;
  bottom: -3px;
}

.earth__duration-number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.dragon {
  margin-bottom: 200px;
}

.dragon__title {
  font-family: "terminator real nfi";
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 102px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}

.dragon__subtitle {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 113px;
}

.dragon__descr {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.dragon__descr-text {
  max-width: 430px;
  margin: 0 70px;
}

.dragon__content {
  position: relative;
}

.dragon__diametr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
}

.dragon__diametr svg {
  fill: none;
  height: 80px;
  width: 60px;
  margin-right: 20px;
}

.diametr-descr__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
}

.diametr-descr__title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 0.3px;
  background-color: #bebebe;
  bottom: -3%;
  left: -80%;
}

.diametr-descr__number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.dragon__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  left: 20%;
}

.dragon__up svg {
  width: 40px;
  height: 40px;
  fill: none;
  margin-right: 20px;
}

.up-descr__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
}

.up-descr__number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.dragon__tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 60%;
  left: 10%;
}

.dragon__tail svg {
  width: 40px;
  height: 40px;
  fill: none;
  margin-right: 20px;
}

.tail-descr__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
}

.tail-descr__number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.dragon__height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10%;
  right: 10%;
}

.dragon__height svg {
  height: 520px;
  width: 130px;
  fill: none;
}

.height-descr__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.height-descr__number {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.dragon__btn {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 58px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  display: block;
  margin: auto;
  max-width: 250px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.dragon__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}

.starship {
  background-image: url("../img/starship.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-bottom: 130px;
}

.starship__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.starship__title {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-right: 200px;
}

.starship__descr {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 430px;
  margin-top: 50px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  color: #FFFFFF;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer-nav__list-link {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 58px;
  color: #FFFFFF;
  margin-left: 120px;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.footer-nav__list-link:hover {
  opacity: .3;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

@media (max-width: 1200px) {
  .dragon__height svg {
    height: 450px;
  }
}

@media (max-width: 1050px) {
  .footer-nav__list-link {
    margin-left: 60px;
  }
}

@media (max-width: 1000px) {
  .header__nav {
    display: none;
  }

  .burger-open {
    display: block;
  }

  .mobile-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 30px;
    text-align: center;
    display: block;
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
  }

  .header__title {
    margin-top: 0;
    font-size: 65px;
  }

  .dragon__title {
    font-size: 60px;
  }

  .dragon__descr {
    display: block;
  }

  .dragon__descr-text {
    max-width: 100%;
    text-align: center;
    padding: 15px 0;
    margin: 0;
  }

  .dragon__diametr svg {
    height: 60px;
    width: 40px;
  }

  .diametr-descr__title {
    font-size: 12px;
  }

  .diametr-descr__title::before {
    width: 100px;
    left: -75%;
  }

  .diametr-descr__number {
    font-size: 14px;
  }

  .up-descr__title {
    font-size: 12px;
    max-width: 110px;
  }

  .up-descr__number {
    font-size: 14px;
  }

  .tail-descr__title {
    font-size: 12px;
  }

  .tail-descr__title {
    font-size: 12px;
    max-width: 130px;
  }

  .tail-descr__number {
    font-size: 14px;
  }

  .dragon__height svg {
    height: 400px;
    width: 100px;
  }

  .starship {
    height: 80vh;
  }

  .starship__text {
    display: block;
  }

  .starship__title {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .earth__massa-circle {
    max-width: 100px;
  }

  .massa-text__title {
    font-size: 10px;
  }

  .massa-text__number {
    font-size: 14px;
  }

  .earth__diametr-title {
    font-size: 10px;
  }

  .earth__diametr-title::before {
    width: 100px;
  }

  .earth__diametr-number {
    font-size: 14px;
  }

  .earth__age-title {
    font-size: 10px;
  }

  .earth__age-title::before {
    width: 100px;
  }

  .earth__age-number {
    font-size: 14px;
  }

  .earth__gravity-circle {
    max-width: 100px;
  }

  .earth__gravity-title {
    font-size: 10px;
  }

  .earth__gravity-number {
    font-size: 10px;
  }

  .earth__duration-title {
    font-size: 10px;
  }

  .earth__duration-title::before {
    width: 100px;
  }

  .earth__duration-number {
    font-size: 14px;
  }

  .dragon__height svg {
    height: 350px;
    width: 100px;
  }
}

@media (max-width: 810px) {
  .footer-menu {
    display: block;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-nav__list {
    display: block;
    text-align: center;
  }

  .footer-nav__list-link {
    margin-left: 0px;
  }
}

@media (max-width: 800px) {
  .dragon__diametr {
    top: -10%;
  }

  .dragon__height svg {
    height: 300px;
    width: 100px;
  }

  .starship {
    height: 60vh;
  }
}

@media (max-width: 750px) {
  .header__title {
    font-size: 50px;
  }

  .header__text {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .dragon__height svg {
    height: 250px;
    width: 100px;
  }
}

@media (max-width: 600px) {
  .header {
    height: auto;
    margin-bottom: 50px;
  }

  .earth {
    margin-bottom: 50px;
  }

  .earth__massa {
    display: none;
  }

  .earth__diametr {
    display: none;
  }

  .earth__age {
    display: none;
  }

  .earth__gravity {
    display: none;
  }

  .earth__duration {
    display: none;
  }

  .dragon {
    margin-bottom: 50px;
  }

  .dragon__title {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .dragon__subtitle {
    margin-bottom: 50px;
  }

  .dragon__descr {
    margin-bottom: 30px;
  }

  .dragon__diametr {
    display: none;
  }

  .diametr-descr__title::before {
    display: none;
  }

  .dragon__up {
    display: none;
  }

  .dragon__tail {
    display: none;
  }

  .dragon__height {
    display: none;
  }

  .dragon__height svg {
    height: 200px;
    width: 100px;
  }

  .starship {
    height: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .header__title {
    font-size: 30px;
  }

  .header__text {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 25px;
  }
}

.webp .header { background-image: url(../img/earth-bg.webp); }

.webp .starship { background-image: url(../img/starship.webp); }